.vimspector.json
bin/*
obj/*
build/*
bootstrap/*
src/generated/*
include/lex.h
*.cflags
*.config
*.creator
*.cxxflags
*.files
*.includes
test/hello.c
ast.dump
*.creator.user
ast.canon.dump 
*.o
a.out
