.vimspector.json
bin/*
obj/*
build/*
src/generated/*
include/lex.h
CCompiler.cflags
CCompiler.config
CCompiler.creator
CCompiler.cxxflags
CCompiler.files
CCompiler.includes
test/hello.c
ast.dump
CCompiler.creator.user
